html,
body {
  font-family: 'Roboto';
  font-size: 22px;
  margin: 0;
  padding: 0;
}
#app {
  height: 100vh; /*new*/
}

.wallets-page {
  background-size: cover;
  background-image: url('/auth-cover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.wallet-settings,
.wallet-options {
  color: #111;
}
.logo {
  font-family: 'Squada One';
  font-size: 3em;
  color: #d4aa00ff;
  margin: 1em;
  display: inline-block;
}
.p-menuitem-content a {
  text-decoration: none;
}
.p-panel-title,
h1 {
  color: #d4aa00ff;
}
h2 {
  color: #d4aa00ff;
}

.p-toggleable-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
}
.p-panel-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
}
