html,
body {
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 22px;
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  min-height: 100%;
  /*new*/
}

.wallets-page {
  background-size: cover;
  background-image: url('/auth-cover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.wallet-settings,
.wallet-options {
  color: #111;
}

.scroll-content {
  font-size: 12px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #303e49 !important;
  border-bottom: 1px solid rgba(6, 6, 6, 0.7);
  width: 100%;
  box-shadow: 0 1px 5px #e2e9f6 !important;
  z-index: 99;
  animation: scrollAnimation 0.5s ease-out forwards;
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next {
  margin: 0 !important;
}

.p-carousel .p-carousel-content .p-carousel-prev,
.p-carousel .p-carousel-content .p-carousel-next svg {
  color: #44ce6f !important;
}

.grid {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.scroll-content .logo img {
  max-height: 60px;
  max-width: 60px;
}

.rn-header {
  position: fixed;
  font-size: 12px;
  top: 0;
  left: 0;
  background-color: #303e49 !important;
  width: 100%;
  height: 50px;
  /* -webkit-animation: headerSticky .95s ease forwards; */
  animation: headerSticky 0.95s ease forwards;
  z-index: 100;
}

.rn-header .logo img {
  max-height: 50px;
  max-width: 50px;
}

@-webkit-keyframes headerSticky {
  0% {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes headerSticky {
  0% {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* .card .product-slider-home {
  background-image: url('./dextrading.jpg');
} */

.p-carousel .p-carousel-indicators .p-carousel-indicator {
  background: #2196f3;
  border-radius: 15px;
  display: inline-block;
  height: 15px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  transition: all 0.5s ease-out;
  width: 15px;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight {
  width: 40px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  width: 40px !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes scrollAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: scrollAnimation 0.5s ease-out forwards;
}

.logo {
  cursor: pointer;
}

@media (min-width: 1920px) {
  .p-menubar-start {
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  .background-container {
    display: none;
  }
}

.align-self-center {
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: normal;
}

.logo-small {
  cursor: pointer;
  display: inline-block;
}

.Icon-button {
  font-size: 12px !important;
  height: 2rem;
  width: 2rem;
  margin-right: 10px;
}

.p-menuitem-content a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.product-slider-home .product-slider-heading {
  color: white;
  padding-top: 50px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}

.product-slider-home .product-slider-heading strong {
  font-size: 30px;
  letter-spacing: 0.34px;
}

.bottom-data {
  padding-top: 1rem;
  padding-right: 1rem;
  margin-top: 5rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  background: #ececfe;
  border-radius: 1rem;
  z-index: 1;
}

.p-panel-title,
h1 {
  color: #d4aa00ff;
  font-size: 30px;
}

h2 {
  color: #d4aa00ff;
}

.p-toggleable-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
}

.p-panel-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
}

.tp-slider-height-2 {
  min-height: 790px;
}

.bodymain {
  width: 1329px;
  opacity: 1;
  min-height: 790px;
  background-color: var(--tp-grey-5);
}

.backgroundImage {
  background-image: url(./goldlandingpage.jpg);
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 50px;
  background-size: cover;
  background-position: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.fontcolor {
  color: white;
}

.border-1 {
  border: none !important;
  /* box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .08); */
  background: #0f0f11;
  box-shadow: 0 1px 5px #e2e9f6 !important;
  border-radius: 16px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  /* # */
}

.border-1 .mb-1 {
  color: white;
}

.border-1 .mb-3 {
  color: white;
}

.product-slider-home {
  margin-top: 50px;
  /* background-image: url('./1586.jpg_wh1200.jpg'); */
  border-radius: 0.1875rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-width: 0px;
  color: var(--neutral-color-9);
}

.p-carousel-item {
  padding: 20px;
}

.p-tag.p-tag-success {
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.buy-sell img {
  width: 100%;
  height: 500px;
}

.digital_gold_silver_calculator {
  max-width: 350px;
  border-radius: 10px !important;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: #ffffff !important;
  justify-items: center;
}

.font-medium .p-selectbutton {
  border-radius: 26px;
  align-items: center;
}

.p-selectbutton .p-component.p-highlight {
  color: #ffffff;
  background-color: #003764;
  font-weight: bold;
  height: 34px;
  border-radius: 26px;
  padding: 0;
  border: none;
  font-size: 16px;
}

.p-selectbutton .p-component {
  height: 34px;
  border-radius: 26px;
  padding: 0;
  background-color: #ebebeb;
  color: #616365;
  border: none;
  font-size: 16px;
  font-weight: normal;
}

.p-inputtext {
  padding: 0.75rem 0.75rem;
}

.inputstyle input {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  padding: 1 !important;
  width: 100%;
  border-bottom: 1px solid #d7d8d9;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative;
}

.your_topup_price {
  padding: 25px 25px 35px;
  border: 1px solid #cfa04f;
  border-radius: 20px;
}

.digital_gold_silver_calculator button {
  font-size: 16px;
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  padding: 13px 20px;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .digital_gold_silver_calculator {
    margin-right: -3em !important;
  }
}

.surface-section-buy {
  width: 100%;
  padding-right: 200px !important;
  padding-left: 200px !important;
  margin-right: auto;
  margin-left: auto;
  text-align: left !important;
  background-color: #f2f2f2 !important;
}

.buy-title {
  font-size: 42px;
  line-height: normal;
  letter-spacing: 0.5px;
  font-weight: normal;
  margin: 0;
}

.surface-section-buy p {
  margin-top: 150px;
  margin-bottom: 0;
  line-height: 1.9;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.tab-panel {
  box-shadow: 6px 0 30px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  background: #ffffff;
  z-index: 1;
  padding: 40px;
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .surface-section-buy {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

/* .dex-trad-pannel{
  background-color: #003764!important;
} */

.dextrading-inputstyle input {
  background-color: #f3f5fa !important;
  display: block;
  padding: 40px 16px !important;
  border-radius: 16px;
  font-size: 20px;
  border: none;
  box-shadow: 0 12px 24px #e2e9f6;
}

.dextrading-inputstyle {
  width: 728px;
  height: 68px;
  transform: translateX(-364px);
  margin-top: 40px;
  margin-left: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.dextrading-button {
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 700;
  height: 80px;
  font-size: 20px;
  border-radius: 12px;
  background: linear-gradient(245.22deg, #da2eef 35%, #2b6aff 65.17%, #39d0d8 92.1%);
  background-position: 30% 50%;
  background-size: 150% 150%;
  transition: 0.5s;
}

.dextrading-button:hover {
  background-position: 99% 50%;
}

.dextrading-inputstyle .p-inputnumber-button-group {
  margin-right: 100px !important;
  position: absolute;
  top: 0;
  border-radius: 16px !important;
  padding: 5px;
  right: 90px;
  height: 81px !important;
  box-shadow: 0 12px 24px #e2e9f6 !important;
}

.dextrading-inputstyle .p-inputnumber-button-down {
  border-radius: 0 0 16px 16px !important;
  width: 70px;
  box-shadow: 0 12px 24px #e2e9f6 !important;
}

.dextrading-inputstyle .p-inputnumber-button-up {
  border-radius: 16px 16px 0 0 !important;
  width: 70px;
  box-shadow: 0 12px 24px #e2e9f6 !important;
}

.search-d5-0-2-24 {
  height: 60px;
  font-size: 16px;
}

.search-0-2-15 {
  width: 720px;
  border: none;
  margin-top: 4px;
  font-weight: 700;
  border-radius: 30px;
}

.dextrading-background {
  background-image: url('./SOIN0922061_1560x880_desktop.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-size: cover;
}

.title-d2-0-2-21 {
  padding: 80px 0px 0px;
}

.title-0-2-11 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.bg-0-2-10 {
  /* margin-top: 54px; */
  text-align: center;
  background-size: cover;
}

.bigTitle-d3-0-2-22 {
  font-size: 60px;
  line-height: 68px;
}

.allcoin-list-background .p-carousel-container .p-carousel-prev,
.p-carousel-next svg {
  color: #000 !important;
}

.bigTitle-0-2-12 {
  margin-bottom: 12px;
  color: #ffffff;
  margin-top: 5rem;
  text-shadow: 1px 0 0 2px black;
}

.subTitle-d4-0-2-23 {
  font-size: 20px;
  padding: 0px;
  line-height: 28px;
}

.subTitle-0-2-13 {
  color: #ffffff;
}

.card-0-2-27 {
  background: rgb(255, 255, 255) !important;
  box-shadow: 0 12px 24px #e2e9f6;
  border-radius: 20px !important;
  padding: 0px 56px;
  margin-top: -90px !important;
}

.ChangeBackgroundcolor {
  background-color: rgba(47, 138, 245, 0.16);
}

.card-0-2-27 .p-panel-header {
  height: 100px;
  padding-left: 36px;
  margin-top: 5rem;
}

.allcoin-slider .product-slider-home {
  height: 700px;
  margin-top: 0 !important;
  background-image: none;
}

.allcoin-slider .p-carousel-content .p-carousel-item h4 {
  color: #2b6aff;
}

.allcoin-slider .p-carousel-content .p-carousel-item h6 {
  color: #3bd0d8;
}

.allcoin-slider .p-carousel-content .p-carousel-item .p-tag {
  border-radius: 12px;
  background: linear-gradient(245.22deg, #3bd0d8 35%, #2b6aff 65.17%, #aadefe 92.1%);
  background-position: 30% 50%;
  background-size: 150% 150%;
  transition: 0.5s;
  font-size: 16px !important;
}

.allcoin-slider .product-slider-heading {
  color: #303e49;
}

.allcoin-slider .p-carousel-content .p-carousel-item .p-tag:hover {
  background-position: 99% 50%;
}

.card-0-2-27 .p-panel-header {
  display: flex;
  align-items: center;
  font-weight: bold;
}

#tradingtable th {
  font-size: 18px;
  border-bottom: 2px solid rgb(236, 235, 238);
  border-top: 2px solid rgb(236, 235, 238);
}

#tradingtable td {
  font-size: 18px;
  border-bottom: 2px solid rgb(236, 235, 238);
}

.css-1ek128f img {
  position: absolute;
  top: -1.9rem;
  left: 0rem;
  width: 160px;
  height: 160px;
}

.bid {
  border-radius: 12px;
  background: linear-gradient(245.22deg, #0fd318 35%, #4c96af 100.17%, #f6feaa 92.1%);
  background-position: 30% 50%;
  background-size: 150% 150%;
  transition: 0.5s;
  font-size: 16px !important;
}

.bid:hover {
  background-position: 99% 50%;
}

.offer {
  background: linear-gradient(245.22deg, #da2eef 35%, #ff2bb1 65.17%, #b30404 92.1%);
  border-radius: 12px;
  background-position: 30% 50%;
  background-size: 150% 150%;
  transition: 0.5s;
  font-size: 16px !important;
}

.p-panel .p-panel-content {
  padding: 1.25rem;
}

.offer:hover {
  background-position: 99% 50%;
}

@media (max-width: 383px) {
  .digital_gold_silver_calculator.digital_gold_silver_calculator {
    margin-right: -4rem !important;
  }
}

.setting-gold .border-1 {
  padding: 2rem;
}

@media (max-width: 767px) {
  .card-0-2-27 {
    margin-top: -10px !important;
    padding: 0px 0px;
  }

  .Dextrading-about-background .welcome-content p {
    padding: 0 !important;
  }

  .Dextrading-about-background .welcome-content .title {
    margin-top: 5rem;
  }

  .dextrading-inputstyle {
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .dextrading-inputstyle .p-inputnumber-button-group {
    margin-right: 100px !important;
    position: absolute;
    top: 0;
    border-radius: 16px !important;
    padding: 5px;
    right: -90px;
    height: 81px !important;
    box-shadow: 0 12px 24px #e2e9f6 !important;
  }

  .bigTitle-0-2-12 {
    font-size: 30px;
    margin-top: 30px;
  }

  .p-menubar .p-menubar-root-list {
    background-color: #303e49;
    z-index: 120 !important;
  }

  /* 
  .allcoin-list-background .welcome-content {
    margin-top: 10rem;
  } */

  .subTitle-0-2-13 {
    font-size: 18px;
  }

  .bottom-data {
    margin-top: 10px;
  }

  .bottom-data img {
    display: none;
  }

  .bottom-data .p-display {
    display: none;
  }

  .bottom-data p {
    margin-left: -100px !important;
  }

  .card-0-2-27 .p-panel-header {
    /* width: 100%; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    /* border-bottom: 2px solid rgb(236, 235, 238); */
  }

  .card-0-2-27 .p-panel-header {
    height: 100px;
    font-size: 50px !important;
  }
}

.fontcolor .title {
  margin-top: 100px !important;
}

.fontcolor a {
  color: #44ce6f !important;
}

.gold-detail .fontcolor {
  margin-top: 150px;
  margin-bottom: 0;
  color: #6084a4;
  line-height: 1.9 !important;
  font-size: 14px;
  text-overflow: ellipsis;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.gold-detail .fontcolor th {
  padding-left: 3rem;
  text-align: center;
}

.gold-detail .fontcolor td {
  padding-left: 3rem;
  text-align: center;
}

.fontcolor {
  margin-top: 150px;
  margin-bottom: 0;
  color: white;
  line-height: 1.9 !important;
  font-size: 14px;
  text-overflow: ellipsis;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.allcoin-list-background {
  background-image: url('./6256878.jpg');
  padding-top: 300px;
  padding-bottom: 200px;
  background-position: center;
  z-index: 0 !important;
  align-items: center !important;
}

.buy-coins .title {
  margin-top: 0px !important;
  font-size: 40px !important;
  text-shadow: 20px 10px 30px rgba(14, 10, 65, 0.25);
  font-weight: 700 !important;
  letter-spacing: 5px;
}

.buy-coins {
  margin-top: 1rem;
  padding: 0 !important;
}

.welcome-content {
  position: relative;
  /* z-index: 99; */
  max-width: 850px;
  text-align: center;
  padding: 0 30px;
  padding-top: 100px;
}

.welcome-content .title {
  color: #fff;
  font-size: 50px;
  line-height: 1.4;
  font-weight: 400;
}

.backgroundImage .welcome-banner .fontcolor .title {
  margin-top: 0px !important;
  font-size: 48px;
  text-shadow: 20px 10px 30px rgba(14, 10, 65, 0.25);
  font-weight: 700 !important;
  letter-spacing: 5px;
}

.welcome-banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
}

.ChangeBackgroundcolor1 .card-0-2-27 a {
  /* padding: 1.5rem !important; */
  /* padding-right: 1.5rem !important; */
  margin: 0.5rem !important;
  gap: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 12px 24px #e2e9f6 !important;
  transition: transform 0.3s ease;
}

.ChangeBackgroundcolor1 .card-0-2-27 a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.ChangeBackgroundcolor1 .card-0-2-27 a:hover {
  transform: scale(1.05) translateZ(10px);
}

.ChangeBackgroundcolor1 .card-0-2-27 a:hover::before {
  opacity: 1;
}

.proof-background img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  box-shadow: 0 12px 24px #e2e9f6 !important;
  border-radius: 1.5rem;
}

.Dextrading-about-background {
  background-image: url('./6244288.jpg');
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  align-items: center !important;
}

.Dextrading-about-background .welcome-content {
  max-width: 100% !important;
}

.Dextrading-about-background .welcome-content .title {
  margin-bottom: 25px;
  display: inline-block;
  line-height: 1.19;
}

.Dextrading-about-background .welcome-content p {
  padding: 0 25%;
  line-height: 1.7;
  margin-bottom: 50px;
}

.Dextrading-about-background .welcome-content button {
  transition: 0.5s;
  font-size: 16px;
  background: linear-gradient(245.22deg, #3bd0d8 35%, #2b6aff 65.17%, #aadefe 92.1%);
}

.Dextrading-about-background .welcome-content button:hover {
  background-position: 99% 50%;
}

.timeline-display {
  background: linear-gradient(245.22deg, #3bd0d8 35%, #2b6aff 65.17%, #aadefe 92.1%);
  padding-top: 3rem;
  padding-bottom: 13rem;
}

.card-backgroundimage .p-card {
  background: #303e49;

  -webkit-backdrop-filter: blur(4px) opacity(0.95);
  backdrop-filter: blur(4px) opacity(0.95);
  border-radius: 16px;
  color: white;
  padding-bottom: 10px;
}

.card-backgroundimage .p-card .p-card-title {
  margin-bottom: 0;
  color: white;
  line-height: 1.9;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.p-datatable-table {
  margin-bottom: 0;
  color: white;
  line-height: 1.9;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.asa-realabout .content p {
  margin-bottom: 0;
  color: white;
  line-height: 1.9;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.p-datatable-scrollable-table > .p-datatable-thead {
  margin-bottom: 0;
  color: white;
  line-height: 1.9;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.p-card .p-card-content {
  padding: 0 !important;
}

.card-backgroundimage .p-card-content li {
  margin-top: 150px;
  margin-bottom: 0;
  color: white;
  line-height: 1.9;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.shadow-1 {
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.02),
    0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.925) !important;
}

.card-backgroundimage .p-card-content ul {
  padding: 0;
}

.Dextrading-about .welcome-content {
  position: relative;
  z-index: 99;
  max-width: 850px;
  text-align: center;
  padding: 0 30px;
  padding-top: 0px;
}

@media (max-width: 1000px) {
  .welcome-content .title {
    font-size: 30px !important;
  }

  .welcome-content .fontcolor {
    font-size: 14px !important;
  }

  .backgroundImage {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .welcome-content {
    padding-top: 50px;
  }

  .welcome-content p {
    font-size: 20px !important;
  }
}

.section-setting img {
  width: 100%;
  padding-left: 100px;
}

.rn-address.card {
  background-image: url('./cardbackground.jpg') !important;
  margin-top: -230px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  background-position: center;
  background-size: cover;
  padding: 30px;
  text-align: center;
}

.rn-address.card .inner h4.title {
  color: white;
  font-size: 25px;
}

.rn-address.card .icon {
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 70px;
  background: #f7fafd;
  border-radius: 50%;
  font-size: 30px;
  color: #44ce6f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.rn-address.card:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.rn-address.card:hover .icon {
  color: #fff;
  background: #44ce6f;
}

.vue-feather__content {
  display: block;
  height: inherit;
  width: inherit;
}

.vue-feather {
  display: inline-block;
  overflow: hidden;
}

.card-display {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.ptb--120 {
  padding: 30px 0;
}

.bg_color--5 {
  background: #f8f9fc;
}

.data-table {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.data-table img {
  border-radius: 5px;
  max-width: 35rem !important;

  box-shadow: 0 25px 65px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-icon-list__media {
  text-align: right;
  padding-right: 70px;
}

.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
}

.data-display {
  margin-top: -120px;
  text-align: center;
  justify-items: center;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background-color: #f8b81f;
  border-radius: 10px;
  padding-top: 1rem;
  /* background: linear-gradient(245.22deg, #f8b81f 35%, #ff8f3c 65.17%, #aadefe 92.1%); */
  padding-bottom: 2rem;
  /* padding-left: 5rem;
  padding-right: 5rem; */
  position: relative;
  box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.1);
}

.table-data-display {
  box-shadow: 0 25px 65px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  text-align: center !important;
  position: relative;
  border-radius: 0.875rem;
  margin-bottom: 1.875rem;
  overflow: auto;
}

.p-column-header-content {
  font-weight: bold;
  text-align: center !important;
}

.table-data-display thead tr svg {
  display: none !important;
}

.table-data-display
  .p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled.p-paginator-rpp-options {
  border: none !important;
  margin-top: 10px;
}

.table-data-display
  .p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled.p-paginator-rpp-options:focus {
  border: none !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow:
    inset 0 0 0 1px #ffffff,
    inset 0 0 0 1px #ffffff,
    inset 0 0 0 1px #ffffff,
    inset 0 0 0 1px #ffffff !important;
}

.table-data-display .p-dropdown-trigger svg {
  margin-top: -8px;
}

.p-dropdown-items-wrapper {
  font-size: 15px !important;
  overflow: hidden;
}

.data-display h1 {
  font-size: 30px;
  color: white;
}

.data-display .p-datatable-tfoot .nowrap {
  text-align: center;
  margin-left: -100px;
}

.data-display:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.data-display:before {
  filter: brightness(0) saturate(100%) invert(56%) sepia(0) saturate(0) hue-rotate(221deg)
    brightness(90%) contrast(90%);
}

.data-display .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 12;
}

.data-display .inner .sparator {
  margin: 0 30px;
}

.data-display .inner .sparator span {
  color: #000;
  border-color: rgba(20, 20, 23, 0.1);
}

.data-display .inner .sparator span {
  display: block;
  text-align: center;
  height: 70px;
  width: 70px;
  line-height: 60px;
  border: 4px solid rgba(26, 182, 157, 0.2);
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;
  color: #1ab69d;
  color: #1ab69d;
  background-color: #fff;
}

.data-display .content {
  text-align: left;
}

.text-end {
  text-align: right !important;
}

.data-display .inner .content .subtitle {
  color: #181818;
  font-weight: 500;
  font-size: 18px;
}

.data-display .inner .content .title {
  font-size: 26px;
  margin-bottom: 0;
  color: #fff;
}

.digital_gold_silver_calculator {
  margin-top: 130px !important;
}

.buy-seller-with-eur {
  background-image: url('./4482651.jpg');
  height: 550px;
  margin-top: 90px;
  background-position: center;
  align-items: center !important;
}

@media (max-width: 768px) {
  .buy-seller-with-eur {
    margin-top: 70px;
  }

  .digital_gold_silver_calculator {
    margin-top: 115px !important;
  }
}

.about-us-background {
  background-image: url('./dexdradingcompany.jpg');
  height: 550px;
  background-size: cover;
  background-position: center;
  align-items: center !important;
}

.about-us-background .welcome-content {
  max-width: 100% !important;
  margin-top: 200px !important;
  padding-top: 0 !important;
}

.about-us-background .welcome-content .title {
  color: white;
  line-height: 1.9;
  font-size: 35px !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
}

.about-us-background .welcome-content p {
  margin-bottom: 0;
  color: white;
  line-height: 1.9;
  font-size: 20px !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.rn-section-gapTop {
  padding-top: 120px !important;
}

.p-splitter-gutter {
  display: none;
}

.p-splitter.p-component.p-splitter-horizontal {
  border: none;
}

.asa-realabout {
  background: linear-gradient(245.22deg, #060606 35%, #060606 65.17%, #2b6bffde 92.1%);
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.asa-realabout .title {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.rbt-separator {
  display: block;
  height: 0;
  margin: 15px 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: transparent;
}

.p-splitter.p-component.p-splitter-horizontal {
  padding-top: 2rem;
  background-color: transparent;
}

.p-splitter.p-component.p-splitter-vertical {
  padding-top: 2rem;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.pb--60 {
  padding-bottom: 60px !important;
}

.pt--30 {
  padding-top: 30px !important;
}

.asa-realabout .surface-ground {
  background-color: transparent !important;
}

.rn-section-gap {
  padding: 50px 0 0 0 !important;
}

.section-title {
  background-color: transparent;
}

.section-title .subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  display: inline-block;
  padding: 7px 14px;
  background-color: #0f0f11;
  box-shadow: 4px 4px 20px 20px rgba(0, 0, 0, 0.01);
}

.theme-gradient {
  background: linear-gradient(95deg, #059dff 15%, #6549d5 45%, #e33fa1 75%, #fb5343) 98%/200% 100%;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w-600 {
  font-weight: 600 !important;
}

.section-title h2 {
  font-size: 44px;
  line-height: 1.23;
}

.section-title h2 a {
  color: white;
  font-size: 44px;
  line-height: 1.23;
}

p.b1 {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
  color: #acacac;
  margin: 0 0 30px;
}

p.b1 a {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
  color: #acacac;
  margin: 0 0 30px;
}

@media (max-width: 690px) {
  .asa-realabout .content p {
    font-size: 14px;
  }

  .asa-realabout .title {
    font-size: 20px;
  }
}

.asa-realabout .surface-ground {
  background-color: transparent !important;
}

.asa-realabout .surface-ground .surface-card {
  background-color: #0f0f11 !important;
}

.asa-realabout .icon {
  font-weight: 400;
  margin-bottom: 23px;
  color: #059dff;
  text-align: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

i.size-62 {
  font-size: 3.25rem !important;
}

.asa-realabout .content .title {
  margin-bottom: 19px;
}

.asa-realabout .content .title a {
  color: inherit;
}

.asa-realabout .cardtitle a {
  font-size: 22px;
  color: white !important;
  font-weight: bold !important;
}

.asa-realabout .p-card-content p {
  font-size: 17px;
  line-height: 1.5 !important;
  color: #65676b;
  padding: 0rem 0 !important;
}

.asa-realabout .p-card .p-card-content {
  padding: 0rem 0 !important;
}

.asa-realabout .p-card .p-card-subtitle {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: white;
}

.asa-realabout .card .p-timeline {
  padding-bottom: 2rem;
}

.asa-realabout .p-card.p-component {
  width: 80%;
  background-color: #0f0f11;
  margin-left: 3rem;
  border-radius: 20px;
}

.asa-realabout
  .p-timeline-vertical.p-timeline-alternate
  .p-timeline-event:nth-child(odd)
  .p-timeline-event-content {
  text-align: left !important;
}

.asa-realabout
  .p-timeline-vertical.p-timeline-alternate
  .p-timeline-event:nth-child(even)
  .p-timeline-event-content {
  text-align: right;
}

@media screen and (max-width: 960px) {
  .asa-realabout .p-card.p-component {
    margin-left: 0rem !important;
    width: 100% !important;
  }
}

.asa-realabout .surface-section {
  background-color: transparent !important;
  position: relative;
  padding: 20px 50px 50px 50px;
  border-radius: 16px;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.brand-style-2 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand-style-2 li {
  flex-basis: 16.666%;
  text-align: center;
}

.brand-style-2 li a {
  display: block;
}

.brand-style-2 li a img {
  opacity: 0.8;
  transition: 0.3s;
}

.pb--100 {
  padding-bottom: 100px !important;
}

.mt_dec--30 {
  margin-top: -30px;
}

.counter-style-4 {
  text-align: left;
  margin-top: 30px;
}

.counter-style-4 .count-number {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 700;
  color: #059dff;
  display: inline-block;
  position: relative;
}

.counter-style-4 .count-number span {
  display: inline-block;
}

.counter-style-4 .counter-title {
  margin-top: 8px;
  font-weight: 400;
  font-size: 24px;
  word-break: break-word;
  line-height: 1.4074;
  color: #fff;
}

.rwt-counterup-area-data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around !important;
}

.p-organizationchart .p-organizationchart-node-content:hover {
  color: white;
}

.single-team {
  background: #fff;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  text-align: center;
  box-shadow: 6px 0 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 35px;
}

.single-team .team-image {
  position: relative;
  z-index: 1;
  padding-left: 35px;
  background-color: #d7d8d9;
  text-align: center;
  height: 250px;
  padding-top: 10px;
  padding-right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-team:hover .team-image img {
  border-color: #44ce6f;
}

.single-team .team-image img {
  border: 3px solid #cdf1d8;
  border-radius: 50%;
  display: inline-block !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 10.5rem;
  height: 10.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-team .team-content {
  padding-left: 25px;
  padding-right: 25px;
}

.single-team .team-info {
  background: linear-gradient(135deg, #23bdb8, #43e794);
  padding: 10px 15px;
  border-radius: 75px;
  margin-bottom: 25px;
  margin-top: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team:hover {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-color: #fff !important;
}

.single-team:hover .team-info {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.single-team .team-info h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 500;
  margin-top: 5px;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}

.single-team .team-info span {
  color: #fff;
  font-size: 13px;
}

.single-team .team-content p {
  margin-top: 20px;
  margin-bottom: 0;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  color: #6084a4;
  line-height: 1.9;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 1.63;
  text-align: justify;
  margin-top: 20px;
  overflow: hidden;
  max-height: calc(80vh - 230px);
}

.our-team-members .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: calc(1.5rem * -0.5);
  margin-left: calc(1.5rem * -0.5);
  display: flex !important;
  justify-content: center;
}

.asa-realabout .container {
  max-width: 1175px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.team-area {
  padding-bottom: 50px;
}

/* .ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
} */

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.Dextrading-about-background .welcome-content .title {
  margin-top: 3rem;
}

.section-title h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
  padding-top: 1rem;
  color: white;
}

.background.rn-address {
  padding: 0 !important;
  border-radius: 20px;
}

.allbackground .rn-address .companyimage {
  background-image: url('./dexdradingcompany.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  height: 700px;
}

.section-title .title {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
  color: #0f0f11 !important;
}

.section-title .bar {
  height: 5px;
  width: 90px;
  background: #cdf1d8;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
}

.section-title .bar:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #2b6bffde;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
  animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}

@keyframes MOVE-BG {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(88px);
    transform: translateX(88px);
  }
}

.section-title p {
  max-width: 520px;
  margin: 0 auto;
}

.section-title p:last-child {
  margin-bottom: 0;
}

.section-title p {
  color: #6084a4;
  font-size: 16px;
  line-height: 1.9;
}

.contact-us-background {
  background-image: url('./istockphoto-1206800961-170667a.jpg');
  height: 500px;
  background-size: cover;
  background-position: center;
  align-items: center !important;
  /* opacity: 0.8; */
}

.contact-us-background .welcome-content {
  max-width: 100% !important;
}

.contact-us-background .welcome-content .title {
  margin-bottom: 25px;
  display: inline-block;
  line-height: 1.19;
}

.contact-us-background .welcome-content p {
  padding: 0 25%;
  font-size: 25px;
  line-height: 1.7;
  margin-bottom: 50px;
}

.contactus-background {
  background: linear-gradient(245.22deg, #060606 35%, #060606 65.17%, #2b6bffde 92.1%);
  padding-bottom: 2rem;
}

/* .row--15 {
  margin-left: -15px;
  margin-right: -15px;
} */

.container {
  max-width: 1175px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(0 * -1);
  margin-right: calc(1.5rem * -0.5);
  margin-left: calc(1.5rem * -0.5);
}

/* .row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5 * 0.5) !important;
  padding-left: calc(1.5 * 0.5) !important;
  margin-top: 0;
} */

.rn-address {
  margin-top: 30px;
  padding: 40px;
  border-radius: 10px;
  padding-top: 40px;
  background: #0f0f11;
  padding-bottom: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.rn-address:hover {
  transform: translateY(-5px);
}

.rn-address .icon {
  color: #059dff;
  border-radius: 100%;
  font-size: 40px;
  display: inline-block;
  margin-bottom: 17px;
  line-height: 6px;
}

.rn-address .inner h4.title {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.rn-address .inner p a:hover {
  color: #059dff;
}

.rn-address .inner p {
  font-size: 18px;
  margin-bottom: 0;
  color: white !important;
}

i.size-40 svg {
  width: 40px !important;
  height: 40px !important;
}

.rn-address .inner p a {
  color: #7f8387;
}

@media only screen and (max-width: 767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}

.features-area-two {
  overflow: hidden;
}

.bg-f7fafd {
  background-color: transparent;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.h-100 {
  height: 100% !important;
}

.services-content .section-title {
  text-align: left;
  margin-bottom: 20px;
}

.services-content .section-title .bar {
  margin-left: 0;
  margin-right: 0;
}

.services-content .section-title p {
  margin: 0;
  color: #ffffff;
}

.services-content .row {
  margin-left: -8px;
  margin-right: -8px;
}

.services-content .row .col-lg-6 {
  padding-left: 8px;
  padding-right: 8px;
}

.services-content .box,
.services-content .box:before {
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-content .box {
  position: relative;
  font-size: 16px;
  z-index: 1;
  display: block;
  padding: 15px 12px;
  color: black;
  font-weight: 500;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.services-content .box:hover {
  color: #fff;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  background-color: rgb(5, 157, 255);
}

.features-area .align-items-center .section-title p {
  color: #ffffff !important;
}

.services-content .box:hover:before {
  opacity: 1;
  visibility: visible;
}

.services-content .box:hover > a {
  color: white;
}

.services-content .box:hover svg {
  color: #fff;
}

.vue-feather {
  display: inline-block;
  overflow: hidden;
}

.services-content .box .feather {
  position: relative;
  top: 2px;
  margin-right: 5px;
  display: inline-block;
  color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 18px;
}

.services-right-image {
  position: relative;
}

/* .services-right-image img:first-child {
  left: 22%;
  top: -85px;
  z-index: 1;
} */

/* 
.services-right-image img:nth-child(2) {
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: -52px;
}

.services-right-image img:nth-child(3) {
  left: 64%;
  top: -33px;
  z-index: 1;
}

.services-right-image img:nth-child(4) {
  right: 38%;
  z-index: 1;
  top: -220px;
}

.services-right-image img:nth-child(5) {
  z-index: 1;
  right: 24%;
  top: 8px;
}

.services-right-image img:nth-child(6) {
  left: 29%;
  top: 0;
  z-index: 1;
}

.services-right-image img:nth-child(7) {
  right: 44%;
  top: -78px;
  z-index: 1;
}

.services-right-image img:nth-child(8) {
  right: 30%;
  top: -134px;
  z-index: 1;
}

.services-right-image img:nth-child(9) {
  right: 31%;
  top: -21px;
  z-index: 1;
}

.services-right-image img:nth-child(10) {
  right: 24%;
  top: -80px;
}

.services-right-image img:nth-child(11) {
  left: 27%;
  top: -60px;
  z-index: 2;
}

.services-right-image img:nth-child(12) {
  right: 28%;
  z-index: 1;
  top: -54px;
}

.services-right-image img:nth-child(13) {
  left: 31%;
  top: -105px;
  z-index: 1;
}

.services-right-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
} */

.services-right-image img:last-child {
  display: block;
  margin-top: 2rem;
  margin-left: 6rem;
}

@media (max-width: 991px) {
  .services-right-image img:last-child {
    display: block;
    margin-top: 2rem;
    margin-left: 0rem;
    /* height: 200px; */
  }
}

.services-content .box a {
  color: #6084a4;
}

.rotateme {
  -webkit-animation-name: rotateme;
  animation-name: rotateme;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotateme {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotateme {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn);
  }
}

@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
  }

  to {
    -webkit-transform: translate(0) rotate(0deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0) rotate(0deg);
  }

  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
  }

  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
  }

  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
  }

  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
  }

  to {
    -webkit-transform: translate(0) rotate(0deg);
  }
}

.contactus-background .section-title .title {
  color: white !important;
}

.contact-us-background .welcome-content .title {
  margin-top: 100px;
  color: white !important;
}

.iot-features-content h3 {
  font-size: 26px;
  margin-bottom: 20px;
  color: white;
  font-weight: 500;
}

.contactus-background .section-title {
  margin-bottom: 0;
}

.iot-features-content p {
  color: #acacac;
  line-height: 1.9;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 1rem;
}

.iot-features-image {
  position: relative;
  text-align: center;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 767px) {
  .iot-features-image {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .iot-features-content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 30px;
  }
}

.row > * {
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
}

.iot-features-image img {
  max-width: 100%;
  vertical-align: middle;
}

@media (max-width: 1920px) {
  .logo {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90px !important;
  }
}

.page-title-area {
  position: relative;
  z-index: 1;
  background: url('./Privacy.jpg');
  background-size: cover;
  padding-top: 200px;
  background-position: center;
  padding-bottom: 200px;
  text-align: center;
}

.page-title-area-terms {
  position: relative;
  z-index: 1;
  background: url('./terms.jpg');
  background-size: cover;
  padding-top: 260px;
  background-position: center;
  padding-bottom: 200px;
  text-align: center;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table {
  display: table !important;
}

@media (max-width: 500px) {
  .page-title-area,
  .page-title-area-terms {
    padding-top: 150px !important;
    padding-bottom: 50px !important;
  }
}

.page-title-area,
.page-title-area-terms .privacy-content h2 {
  color: #ffffff;
  font-size: 35px;
}

.page-title-area,
.page-title-area-terms .privacy-content p {
  color: #ffffff;
  font-size: 20px;
}

.privacy-body {
  background: linear-gradient(245.22deg, #060606 35%, #060606 65.17%, #2b6bffde 92.1%);
}

.solutions-area {
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

.section-title .sub-title {
  display: inline-block;
  color: #c679e3;
  background-color: #f5dffd;
  margin-bottom: 18px;
  border-radius: 30px;
  padding: 5px 20px 4px;
  font-size: 13px;
}

.section-title h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 600;
}

.coin-detail {
  padding-top: 120px !important;
  background: linear-gradient(245.22deg, #060606 35%, #060606 65.17%, #2b6bffde 92.1%);
}

.buy-coin-button {
  padding-top: 3rem;
  padding-left: 3rem;
}

.p-galleria-item {
  padding-bottom: 3rem;
  padding-top: 4rem;
  background-color: rgb(245, 246, 248);
  position: relative;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.coin-detail .tab-panel {
  background-color: #0f0f11;
}
.story[data-v-d5d273fe] {
  color: #6084a4 !important;
}
.coin-detail .tab-panel .buy-title {
  color: white !important;
  text-align: center;
}
.btn-default {
  color: #fff !important;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
  transition: transform 0.3s ease;
}

.btn-default:hover {
  transform: scale(1.05) translateZ(10px);
}

@media (max-width: 767px) {
  .gold-detail .fontcolor th {
    padding-left: 0rem;
  }
}

.p-button .p-button-label {
  padding: 1rem;
}
.contactus .p-button-label {
  display: none;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon {
  color: #eee;
}

.p-menubar,
.p-menubar-root-list {
  border-radius: 0px;
  background: #303e49;
}
.p-menubar-button {
  color: #eee;
}

.title {
  text-shadow:
    0.04em 0 #666,
    0 0.03em #666,
    -0.01em 0 #666,
    0 -0.01em #666;
}
